<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="rav3map is an app that allows you to easily plan a rave and invite your friends! It has precise navigation and a friends invitation system!">
    <meta name="author" content="Frederik Roettgerkamp">
    <meta name="keywords" content="rave,event,party,techno,germany,nrw">
    <meta http-equiv="content-Type" content="text/html; utf-8" />
    <meta http-equiv="Pragma" content="cache" />
    <meta name="publisher" content="rav3map" />
    <meta name="copyright" content="2021 rav3map" />
    {% block meta %}{% endblock %}
    <title>rav3map - {% block title %}{% endblock %}</title>

    <link rel="canonical" href="https://ravemap.tk/">

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="180x180" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="32x32" type="image/png" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" sizes="16x16" type="image/png" />
    <link rel="mask-icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" color="#212121" />
    <link rel="icon" href="{{ asset('img/logo/logo_small_icon_only_inverted.png') }}" />
    <meta name="theme-color" content="#212121">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <!-- Custom styles for this template -->
    <link href="{{ asset('css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
</head>
<body class="d-flex h-100 text-center text-white bg-black">

<div style="position: fixed; z-index: -99; width: 100%; height: 100vh">
    <video id="backgroundVideo" width="100%" height="100%" autoplay muted>
        <source src="{{ asset('background_ravemap.mp4') }}" type="video/mp4">
    </video>
</div>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <div>
            <div class="float-md-start mb-0">
                <img src="{{ asset('img/logo/logo_white_large.png') }}" class="logo" />
            </div>

            <nav class="nav nav-masthead justify-content-center float-md-end">
                <a class="nav-link" id="mute" aria-current="page" href="#">Unmute</a>
            </nav>

        </div>
    </header>

    <main class="px-3">
        {% for event in app.session.flashbag.get('event_accepted') %}
            <div class="alert alert-success" role="alert">
                {{ 'invite.accepted'|trans({'event': event}, 'invites') }}
            </div>
        {% endfor %}
        {% for event in app.session.flashbag.get('event_denied') %}
            {{ 'invite.denied'|trans({'event': event}, 'invites') }}
        {% endfor %}
        {% for event in app.session.flashbag.get('event_maybe') %}
            {{ 'invite.maybe'|trans({'event': event}, 'invites') }}
        {% endfor %}


        {% block body %}{% endblock %}
    </main>

    <footer class="mt-auto text-white-50">
        <p>&copy; 2021 rav3map</p>
    </footer>
</div>


<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.flipper-responsive.js') }}"></script>
<script>
    jQuery(function($){
        $('#myFlipper').flipper('init');

        $('#mute').on('click', (event) => {
            event.preventDefault();
            $('#backgroundVideo')[0].volume = 0.2;
            $('#backgroundVideo')[0].muted = !($('#backgroundVideo')[0].muted);

            if ($('#backgroundVideo')[0].muted) {
                $('#mute').text('Unmute');
            } else {
                $('#mute').text('Mute');
            }
        });
    });
</script>
</body>
</html>
